:root {
  --accent-color: #404bbf;
  --main-font: 'Roboto', sans-serif;
  --main-font-size: 16px;
  --main-line-hight: 1.5;
  --main-letter-spacing: 0.02em;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: var(--main-line-hight);
  letter-spacing: var(--main-letter-spacing);
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

button {
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: var(--main-line-hight);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.hero-button {
  background-color: #4d5ae5;
  margin-top: 48px;
  margin-left: 482px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 12px 32px;
  min-width: 169px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.portfolio-button {
  background-color: #f4f4fd;
  color: #4d5ae5;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio-light-bg {
  color: #2e2f42;
}
.page-adress {
  font-style: normal;
  margin-left: auto;
}
.menu-item,
.adress-item {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  line-height: var(--main-line-hight);
  letter-spacing: var(--main-letter-spacing);
}
.menu-item {
  font-weight: 500;
  color: #2e2f42;
}
.adress-item {
  font-weight: 400;
  color: #434455;
}

.main-page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;

  margin-left: 315px;
  margin-right: 315px;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
}
.logo-studio-dark-bg {
  color: #f4f4fd;
}
.footer-discription {
  color: #f4f4fd;
}
.main-txt-style {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: var(--main-line-hight);
  letter-spacing: var(--main-letter-spacing);
  color: #434455;
}

.footer,
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.team-section {
  background-color: #f4f4fd;
}
.team-item {
  background-color: #ffffff;
}
.page-header-container {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
  column-gap: 76px;
}
.menu {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.header-adress-list {
  display: flex;
  align-items: center;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-adress-mail {
  margin-right: 40px;
}
.page-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.features-list {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.seection {
  padding-top: 120px;
  padding-bottom: 120px;
}
.feature-list-item {
  width: 264px;
  height: 104px;
}
